<div class="modal fade" id="mdGearedMotor" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-video modal-lg" role="document">
		<div class="modal-content">
			<!-- Header -->
			<div class="modal-header">
				<!-- Title -->
				<h2 style="margin:0">
					Geared Motors Technical Data
				</h2>
				<!-- Close -->
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="row">

					<div class="col-lg-12">
						<table class="table table-bordered table-responsive table-hover table-striped">
							<thead>
								<tr class="text-center">
									<th class="text-center"><h6 class="mb-0">kW</h6></th>
									<th class="text-center"><h6 class="mb-0">Type</h6></th>
									<th class="text-center"><h6 class="mb-0">Gear Ratio, Motor speed (50Hz=1500 rpm, 60Hz=1800rpm)</h6></th>
									<th class="text-center"><h6 class="mb-0">Shaft Height(mm)<br />Foot Hole(mm)</h6></th>
									<th class="text-center"><h6 class="mb-0"> Outline Drawing </h6></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center" rowspan="2">0.75</td>
									<td class="text-center">A</td>
									<td class="text-center">1/5, 1/10, 1/15, 1/20, 1/30</td>
									<td class="text-center">Shaft H: 135mm<br />Foot Hole L: 135mm</td>
									<td class="text-center">										
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/0.75_A(13Fr 0.75kW 5~30).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center">B</td>
									<td class="text-center">1/40, 1/50, 1/60, 1/75, 1/90, 1/100, 1/120</td>
									<td class="text-center">Shaft H: 153mm<br />Foot Hole L: 150mm</td>
									<td class="text-center">
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/0.75_B(15Fr 0.75kW 40~120).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center" rowspan="3">1.5</td>
									<td class="text-center">A</td>
									<td class="text-center">1/5, 1/10, 1/15, 1/20, 1/30</td>
									<td class="text-center">Shaft H: 153mm<br />Foot Hole L: 150mm</td>
									<td class="text-center">
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/1.5_A(15Fr 1.5kW 5~30).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center">B</td>
									<td class="text-center">1/40, 1/50, 1/60, 1/75, 1/90, 1/100, 1/120</td>
									<td class="text-center">Shaft H: 172mm<br />Foot Hole L: 172mm</td>
									<td class="text-center">
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/1.5_B(17Fr 1.5kW 40~120).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center">C</td>
									<td class="text-center">1/100, 1/120</td>
									<td class="text-center">Shaft H: 235mm<br />Foot Hole L: 320mm</td>
									<td class="text-center">
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/1.5_C(23Fr 1.5kW 100~120).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center" rowspan="5">2.2</td>
									<td class="text-center">A</td>
									<td class="text-center">1/5, 1/10, 1/15, 1/20, 1/30</td>
									<td class="text-center">Shaft H: 172mm<br />Foot Hole L: 172mm</td>
									<td class="text-center">
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/2.2_A(17Fr 2.2kW 5~30).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center">B</td>
									<td class="text-center">1/40, 1/50, 1/60, 1/75, 1/90, 1/100, 1/120</td>
									<td class="text-center">Shaft H: 181mm<br />Foot Hole L: 245mm</td>
									<td class="text-center">
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/2.2_B(18Fr 2.2kW 40~100).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center">C</td>
									<td class="text-center">1/75, 1/90, 1/100, 1/120</td>
									<td class="text-center">Shaft H: 205mm<br />Foot Hole L: 290mm</td>
									<td class="text-center">
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/2.2_C(20Fr 2.2kW 75~120).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center">D</td>
									<td class="text-center">1/75, 1/90, 1/100</td>
									<td class="text-center">Shaft H: 235mm<br />Foot Hole L: 320mm</td>
									<td class="text-center">
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/2.2_D(23Fr 2.2kW 75~90).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center">E</td>
									<td class="text-center">1/100, 1/120</td>
									<td class="text-center">Shaft H: 270mm<br />Foot Hole L: 350mm</td>
									<td class="text-center">
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/2.2_E(27Fr 2.2kW 100~120).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center" rowspan="5">3.7</td>
									<td class="text-center">A</td>
									<td class="text-center">1/5, 1/10, 1/15, 1/20</td>
									<td class="text-center">Shaft H: 172mm<br />Foot Hole L: 172mm</td>
									<td class="text-center">
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/3.7_A(17Fr 3.7kW 5~20).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center">B</td>
									<td class="text-center">1/30</td>
									<td class="text-center">Shaft H: 181mm<br />Foot Hole L: 245mm</td>
									<td class="text-center">
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/3.7_B(18Fr 3.7kW 30).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center">C</td>
									<td class="text-center">1/40, 1/50, 1/60</td>
									<td class="text-center">Shaft H: 205mm<br />Foot Hole L: 290mm</td>
									<td class="text-center">
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/3.7_C(20Fr 3.7kW 40~60).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center">D</td>
									<td class="text-center">1/60</td>
									<td class="text-center">Shaft H: 235mm<br />Foot Hole L: 320mm</td>
									<td class="text-center">
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/3.7_D(23Fr 3.7kW 60).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center">E</td>
									<td class="text-center">1/75, 1/90</td>
									<td class="text-center">Shaft H: 270mm<br />Foot Hole L: 350mm</td>
									<td class="text-center">
										<a href="~/wwwroot/resource/file/products/Geared motor outline drawing/3.7_E(27Fr 3.7kW 75~90).pdf" target="_blank"> <i class="fa fa-download"></i></a>
									</td>
								</tr>
							</tbody>
						</table> <!-- .table -->
					</div><!--end .col -->
				</div><!--end .row -->
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div> <!-- / .modal -->
