<div class="modal fade" id="mdMvMotor" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-video modal-lg" role="document">
		<div class="modal-content">
			<!-- Header -->
			<div class="modal-header">
				<!-- Title -->
				<h2 style="margin:0">
					Hyosung MV Motor
				</h2>
				<!-- Close -->
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="list list-col-2">
					<li class="list-item">
						<button class="btn btn-default button-tab btn-active standardMvMotor" data-target="divStandardMvMotor" type="button">
							Standard MV motor
						</button>
					</li>
					<li class="list-item">
						<button class="btn btn-default button-tab standardMvMotor" data-target="divExplosionProofMvMotor" type="button">
							Explosion Proof MV motor
						</button>
					</li>
				</ul>
				<div id="divStandardMvMotor" class="standardMvMotorContent">
					<div class="card card-blog">
						<div class="card-body">
							<ul class="list list-col-2 border-bottom">
								<li class="list-item">
									<img class="card-img-custom" src="~/wwwroot/flexpack/custom-img/products/Standard MV motor.jpg" />
								</li>
								<li class="list-item">

									<h3>
										Standard Motors
									</h3>
									<!-- description -->
									<p class="data-content-text">
										Hyosung’s IEC standard motors feature excellent insulation systems and strict process controls and quality management that allow for a low vibration and noise structure design.
									</p>
								</li>
							</ul>

							<ul class="list list-col-2 border-bottom">
								<li class="list-item">

									<h3>
										Uses
									</h3>
									<i class="far fa-check-circle"></i>Pump, Fan, Compressor, Crane, Mill, Crusher<br />
									<i class="far fa-check-circle"></i>General and steel industries<br />
									<i class="far fa-check-circle"></i>Petrochemical and cement plants<br />
									<i class="far fa-check-circle"></i>Hydraulic & thermal power plants<br />

								</li>

								<li class="list-item">

									<h3>
										Production range
									</h3>
									<i class="far fa-check-circle"></i>Output: Max 25,000kW<br />
									<i class="far fa-check-circle"></i>Voltage: Max. 13.8kV<br />
									<i class="far fa-check-circle"></i>Number of poles : Max 30P<br />
									<i class="far fa-check-circle"></i>Frequency : 50Hz, 60Hz<br />

								</li>

							</ul>

						</div>
					</div>
				</div>
				<div id="divExplosionProofMvMotor" class="standardMvMotorContent" style="display:none">
					<div class="card card-blog">
						<div class="card-body">
							<ul class="list list-col-2 border-bottom">
								<li class="list-item">
									<img class="card-img-custom" src="~/wwwroot/flexpack/custom-img/products/Explosion proof MV motor.jpg" />
								</li>
								<li class="list-item">

									<h3>
										Explosion-proof Motor
									</h3>
									<!-- description -->
									<p class="data-content-text">
										Hyosung has a line-up of explosion-proof motor products that meet major international standards (IECEx, ATEX, UL, CSA, GOST, KGS, etc.)
									</p>
								</li>
							</ul>
							<h3>Certifications</h3>
							<div class="row align-items-center">
								<div class="col-6 col-sm-6 col-md-4">

									<!-- partners logo -->
									<div class="partners">
										<img src="~/wwwroot/flexpack/custom-img/certifications/images.jfif" class="img-fluid" alt="...">
									</div>

								</div>
								<div class="col-6 col-sm-6 col-md-4">

									<!-- partners logo -->
									<div class="partners">
										<img src="~/wwwroot/flexpack/custom-img/certifications/atex.jfif" class="img-fluid" alt="...">
									</div>

								</div>
								<div class="col-6 col-sm-6 col-md-4">

									<!-- partners logo -->
									<div class="partners">
										<img src="~/wwwroot/flexpack/custom-img/certifications/ul-sa.jfif" class="img-fluid" alt="...">
									</div>

								</div>
								<div class="col-6 col-sm-6 col-md-4">

									<!-- partners logo -->
									<div class="partners">
										<img src="~/wwwroot/flexpack/custom-img/certifications/gost-r.jfif" class="img-fluid" alt="...">
									</div>

								</div>
								<div class="col-6 col-sm-6 col-md-4">

									<!-- partners logo -->
									<div class="partners">
										<img src="~/wwwroot/flexpack/custom-img/certifications/kgs.jfif" class="img-fluid" alt="...">
									</div>

								</div>
							</div>
							<h3>Production range</h3>
							<table class="table table-bordered table-responsive table-hover table-striped">
								<thead>
									<tr class="text-center">
										<th class="text-center"><h6 class="mb-0">#</h6></th>
										<th class="text-center"><h6 class="mb-0">Ex d</h6></th>
										<th class="text-center"><h6 class="mb-0">Ex e</h6></th>
										<th class="text-center"><h6 class="mb-0">Ex p</h6></th>
										<th class="text-center"><h6 class="mb-0">Ex n</h6></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th><h6 class="mb-0">Pole</h6></th>
										<td>Up to 20P</td>
										<td>Up to 20P</td>
										<td>Up to 20P</td>
										<td>Up to 20P</td>
									</tr>
									<tr>
										<th><h6 class="mb-0">Max Power</h6></th>
										<td>Up to 4,000kW</td>
										<td>Up to 13,000kW</td>
										<td>Up to 13,000kW</td>
										<td>Up to 13,000kW</td>
									</tr>
									<tr>
										<th><h6 class="mb-0">Max Frame</h6></th>
										<td>Up to 800Fr</td>
										<td>Up to 1500Fr</td>
										<td>Up to 1500Fr</td>
										<td>Up to 1500Fr</td>
									</tr>
								</tbody>
							</table> <!-- .table -->
						</div>
					</div>
				</div>

				<h3>Download</h3>
				<a href="~/wwwroot/resource/file/MVmotor catalogue.pdf" target="_blank"> <i class="fa fa-download fa-2x"></i>&nbsp; &nbsp; Catalogs</a>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div> <!-- / .modal -->
