@{
	ViewBag.Title = "Home Page";
	Layout = null;
}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Plugins CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
	<link rel="stylesheet" href="~/wwwroot/flexpack/plugins/flickity/flickity.min.css">
	<link rel="stylesheet" href="~/wwwroot/flexpack/plugins/fullpagejs/dist/fullpage.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="~/wwwroot/flexpack/css/flexpack-blue.min.css">

	<title>FlexPack - Product Landing Page</title>
</head>
<body data-spy="scroll" data-target=".navbar">

	<!-- NAVBAR
	================================================== -->
	<!-- NAVBAR
	================================================== -->
	<nav class="navbar navbar-product navbar-expand-lg navbar-light fixed-top">
		<div class="container">

			<!-- Navbar: Brand -->
			<a class="navbar-brand" href="product.html">
				FlexPack
			</a>

			<!-- Toggle -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Navbar: Collapse -->
			<div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#page-top">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#section-about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#section-product">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#section-features">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#section-contact">Contact</a>
					</li>
				</ul>

				<!-- Social icons -->
				<ul class="list list-inline justify-content-end d-lg-none">
					<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
				</ul>
			</div>

			<!-- Social icons -->
			<ul class="list list-inline justify-content-end d-none d-lg-flex">
				<li class="list-inline-item">

					<!-- link -->
					<a href="#">
						<i class="fab fa-twitter"></i>
					</a>

				</li>
				<li class="list-inline-item">

					<!-- link -->
					<a href="#">
						<i class="fab fa-facebook-square"></i>
					</a>

				</li>
				<li class="list-inline-item">

					<!-- link -->
					<a href="#">
						<i class="fab fa-instagram"></i>
					</a>

				</li>
			</ul>

		</div> <!-- / .container -->
	</nav> <!-- / .navbar -->
	<!-- PRELOADER
	================================================== -->
	<div id="preloader">
		<div id="status">
			<div class="sk-spinner sk-spinner-double-bounce">
				<div class="sk-double-bounce1"></div>
				<div class="sk-double-bounce2"></div>
			</div>
		</div>
	</div>

	<!-- BACK TO TOP BUTTON
	================================================== -->
	<a id="back-to-top" href="#page-top" class="link-social link-social-circle mb-0" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">

		<!-- icon -->
		<i class="fas fa-arrow-up"></i>

	</a>

	<!-- MODALS
	================================================== -->
	<div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video-header" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-video modal-lg" role="document">
			<div class="modal-content">

				<!-- Header -->
				<div class="modal-header">

					<!-- Title -->
					<h4 class="modal-title" id="modal-video-header">
						Video Presentation
					</h4>

					<!-- Close -->
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

				</div>
				<div class="modal-body">

					<!-- Video -->
					<video src="~/wwwroot/flexpack/video/1.mp4" class="img-fluid" controls></video>

				</div>
			</div> <!-- / .modal-content -->
		</div> <!-- / .modal-dialog -->
	</div> <!-- / .modal -->
	<!-- HOME
	================================================== -->
	<section class="" id="page-top">
		<!-- Background slider -->
		<div class="bg-slider">

			<!-- slider item -->
			<div class="bg-slider-item">
				<!-- background image -->
				<div class="bg-cover">
					<img src="assets/img/slider_1.jpg" alt="...">
				</div>
				<!-- background light overlay -->
				<div class="bg-overlay-light"></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-12 col-lg-6">
							<!-- content -->
							<div class="bg-slider-item-content text-center">

								<!-- Heading -->
								<h1 class="mt-3">
									Powerful and Easy to Use Flexible Package
								</h1>

								<!-- subtitle -->
								<p class="subtitle"># Build your own project</p>
								<!-- Subheading -->
								<p>
									FlexPack is a package of components for easy construction of your website. Use ready-made pages or add new sections and create your own design.
								</p>
								<!-- button -->
								<a href="https://themeforest.net/user/gaminy/portfolio" class="btn btn-default mx-2" target="_blank">Purchase now</a>
								<!-- button -->
								<a href="#section-demos" class="btn btn-secondary mx-2">Explore demos</a>
							</div> <!-- .content -->
						</div>
					</div> <!-- .row -->
				</div> <!-- .container -->
			</div> <!-- .bg-slider-item -->
			<!-- slider item -->
			<div class="bg-slider-item">
				<!-- background image -->
				<div class="bg-cover">
					<img src="assets/img/slider_2.jpg" alt="...">
				</div>
				<!-- background light overlay -->
				<div class="bg-overlay-light"></div>

				<div class="container">
					<div class="row justify-content-center">
						<div class="col-12 col-lg-6">
							<!-- content -->
							<div class="bg-slider-item-content text-center">

								<!-- Heading -->
								<h1 class="mt-3">
									Several landing pages ready to use
								</h1>

								<!-- subtitle -->
								<p class="subtitle"># Use ready-made pages</p>
								<!-- Subheading -->
								<p>
									FlexPack is a package of components for easy construction of your website. Use ready-made pages or add new sections and create your own design.
								</p>
								<!-- button -->
								<a href="https://themeforest.net/user/gaminy/portfolio" class="btn btn-default mx-2" target="_blank">Purchase now</a>
								<!-- button -->
								<a href="#section-demos" class="btn btn-secondary mx-2">Explore demos</a>
							</div> <!-- .content -->
						</div>
					</div> <!-- .row -->
				</div> <!-- .container -->
			</div> <!-- .bg-slider-item -->
			<!-- slider item -->
			<div class="bg-slider-item">
				<!-- background image -->
				<div class="bg-cover">
					<img src="assets/img/slider_3.jpg" alt="...">
				</div>
				<!-- background light overlay -->
				<div class="bg-overlay-light"></div>

				<div class="container">
					<div class="row justify-content-center">
						<div class="col-12 col-lg-6">
							<!-- content -->
							<div class="bg-slider-item-content text-center">

								<!-- Heading -->
								<h1 class="mt-3">
									Different navbars and footer designed
								</h1>

								<!-- subtitle -->
								<p class="subtitle"># Choose what you like</p>
								<!-- Subheading -->
								<p>
									FlexPack is a package of components for easy construction of your website. Use ready-made pages or add new sections and create your own design.
								</p>
								<!-- button -->
								<a href="https://themeforest.net/user/gaminy/portfolio" class="btn btn-default mx-2" target="_blank">Purchase now</a>
								<!-- button -->
								<a href="#section-demos" class="btn btn-secondary mx-2">Explore demos</a>
							</div> <!-- .content -->
						</div>
					</div> <!-- .row -->
				</div> <!-- .container -->
			</div> <!-- .bg-slider-item -->
		</div> <!-- .bg-slider -->

	</section> <!-- .section -->
	<!-- SERVICE
	================================================== -->
	<section class="section-service">

		<div class="container-fluid px-0">
			<div class="row no-gutters service-row">
				<div class="col-12 col-sm-6 col-xl-3">

					<div class="service-item">

						<!-- icon -->
						<div class="service-item-icon">
							<i data-feather="credit-card"></i>
						</div>

						<!-- heading -->
						<h4 class="service-item-title">
							Cashback
						</h4>

						<!-- text -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam perferendis, pariatur, adipisci ad repudiandae rerum.</p>

						<!-- link -->
						<a href="#" class="link-underline text-secondary">Learn more</a>

					</div> <!-- .service-item -->

				</div>
				<div class="col-12 col-sm-6 col-xl-3">

					<div class="service-item">

						<!-- icon -->
						<div class="service-item-icon">
							<i data-feather="shield"></i>
						</div>

						<!-- heading -->
						<h4 class="service-item-title">
							Secure payment
						</h4>

						<!-- text -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam perferendis, pariatur, adipisci ad repudiandae rerum.</p>

						<!-- link -->
						<a href="#" class="link-underline text-secondary">Learn more</a>

					</div> <!-- .service-item -->

				</div>
				<div class="col-12 col-sm-6 col-xl-3">

					<div class="service-item">

						<!-- icon -->
						<div class="service-item-icon">
							<i data-feather="truck"></i>
						</div>

						<!-- heading -->
						<h4 class="service-item-title">
							Free delivery
						</h4>

						<!-- text -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam perferendis, pariatur, adipisci ad repudiandae rerum.</p>

						<!-- link -->
						<a href="#" class="link-underline text-secondary">Learn more</a>

					</div> <!-- .service-item -->

				</div>
				<div class="col-12 col-sm-6 col-xl-3">

					<div class="service-item">

						<!-- icon -->
						<div class="service-item-icon">
							<i data-feather="rotate-ccw"></i>
						</div>

						<!-- heading -->
						<h4 class="service-item-title">
							Free return
						</h4>

						<!-- text -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam perferendis, pariatur, adipisci ad repudiandae rerum.</p>

						<!-- link -->
						<a href="#" class="link-underline text-secondary">Learn more</a>

					</div> <!-- .service-item -->

				</div>
			</div> <!-- .row -->
		</div> <!-- .container-fluid -->

	</section> <!-- .section-service -->
	<!-- ABOUT
	================================================== -->
	<section class="section_about" id="section-about">
		<div class="container-fluid px-0">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 order-2 order-md-1">

					<!-- background image -->
					<div class="bg-cover d-none d-md-block" style="padding:5px; z-index:0">
						@*<img src="~/wwwroot/flexpack/img/img_1.jpg" alt="...">*@
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.3753031013066!2d106.92021331472151!3d10.705508263426292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317519642435d78b%3A0x92c4dc711d5d8e73!2sHyosung+Motor+Factory!5e0!3m2!1sen!2ssg!4v1560324404922!5m2!1sen!2ssg" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>

					<img src="~/wwwroot/flexpack/img/img_1.jpg" class="img-fluid d-md-none" alt="...">

				</div>
				<div class="col-12 col-md-6 order-1 order-md-2 bg-light px-3 py-5 p-md-6">

					<!-- heading -->
					<h3>Legendary classic design,<br>Innovative optic system</h3>

					<!-- text -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo maxime voluptatem aliquid earum beatae. Quia, quo asperiores, tempora, autem quasi consequuntur adipisci nemo molestias deleniti accusamus ex unde impedit sunt dolores nesciunt culpa? Sapiente harum, dicta quisquam, dolorum dolorem quibusdam.</p>

					<p>Pariatur Flexvident magnam obcaecati existe deserunt. Neque enim dicta a praesentium voluptatibus accusantium aspernatur eos asperiores a nemo similique quam architecto voluptatum aliquam.</p>

					<!-- Button -->
					<a href="#modal-video" data-toggle="modal" class="btn btn-primary">
						Play video
					</a>

				</div>
			</div> <!-- .row -->

			<div class="row no-gutters">
				<div class="col-12 col-md-6 bg-light px-3 py-5 p-md-6">

					<!-- heading -->
					<h3>A great choice for professional photography</h3>

					<!-- text -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo maxime voluptatem aliquid earum beatae. Quia, quo asperiores, tempora, autem quasi consequuntur adipisci nemo molestias deleniti accusamus ex unde impedit sunt dolores nesciunt culpa? Sapiente harum, dicta quisquam, dolorum dolorem quibusdam.</p>

					<!-- datas -->
					<div class="data">

						<!-- icon -->
						<div class="data-icon">
							<i data-feather="camera"></i>
						</div>

						<div class="data-content">

							<!-- title -->
							<h4 class="data-content-title">Image stabilization</h4>

							<!-- text -->
							<p class="data-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque perferendis doloribus.</p>

						</div>

					</div> <!-- .data -->

					<div class="data">

						<!-- icon -->
						<div class="data-icon">
							<i data-feather="monitor"></i>
						</div>

						<div class="data-content">

							<!-- title -->
							<h4 class="data-content-title">4k resolution</h4>

							<!-- text -->
							<p class="data-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque perferendis doloribus.</p>

						</div>

					</div> <!-- .data -->

					<div class="data">

						<!-- icon -->
						<div class="data-icon">
							<i data-feather="battery-charging"></i>
						</div>

						<div class="data-content">

							<!-- title -->
							<h4 class="data-content-title">High-powered battery</h4>

							<!-- text -->
							<p class="data-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque perferendis doloribus.</p>

						</div>

					</div> <!-- .data -->

				</div>
				<div class="col-12 col-md-6">

					<!-- background image -->
					<div class="bg-cover" style="padding:5px; z-index:0">
						@*<img src="~/wwwroot/flexpack/img/img_2.jpg" class="d-none d-md-block" alt="...">*@
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.365277684287!2d106.91101701472158!3d10.706283263412312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3adc24c825%3A0x4358929b720a7a79!2sHyosung+Vietnam+Co.+Ltd.!5e0!3m2!1sen!2ssg!4v1560324647748!5m2!1sen!2ssg" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>

					<img src="~/wwwroot/flexpack/img/img_2.jpg" class="img-fluid d-md-none" alt="...">

				</div> <!-- .row -->
			</div>
		</div> <!-- .container-fluid -->
	</section>

	<!-- PRODUCT
	================================================== -->
	<section class="section section_product" id="section-product">

		<div class="container">
			<div class="row justify-content-center text-center">
				<div class="col-sm-12 col-lg-8 col-xl-6">

					<!-- title -->
					<h2>FlexPack collection</h2>

					<!-- subtitle -->
					<p class="subtitle"># Find your product</p>

					<!-- text -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum fuga reprehenderit repellat quasi Flexvident incidunt quam pariatur voluptates laudantium magni, doloribus quae officia quaerat, possimus perferendis amet modi, maxime at.</p>

				</div>
			</div> <!-- .row -->
		</div> <!-- .container -->
		<div class="container-fluid px-0">
			<div class="row no-gutters">
				<div class="col-12">

					<!-- product slider -->
					<div class="product-slider">

						<div class="card card-product">

							<!-- background image -->
							<img class="card-img" src="~/wwwroot/flexpack/img/product_1.jpg" alt="Card image">

							<!-- overlay content -->
							<div class="card-img-overlay">

								<!-- title -->
								<h4 class="card-title">Kodak Pony 828</h4>

								<!-- list -->
								<ul class="list list-inline text-muted text-sm mb-3">
									<li class="list-inline-item ml-0 mr-4">
										50 mm
									</li>
									<li class="list-inline-item ml-0 mr-4">
										f / 1.4
									</li>
									<li class="list-inline-item ml-0 mr-4">
										ISO 400
									</li>
								</ul>

								<div class="card-img-overlay-desc">

									<!-- text -->
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem architecto assumenda perspiciatis sequi deleniti possimus aspernatur vero accusamus maiores laboriosam iusto, dignissimos ex numquam.</p>

									<!-- button -->
									<button class="btn btn-default" type="button">Buy now on Amazon</button>

								</div> <!-- .card-img-overlay-desc -->

							</div> <!-- .card-img-overlay -->

						</div> <!-- .card-product -->

						<div class="card card-product">

							<!-- background image -->
							<img class="card-img" src="~/wwwroot/flexpack/img/product_2.jpg" alt="Card image">

							<!-- overlay content -->
							<div class="card-img-overlay">

								<!-- title -->
								<h4 class="card-title">Nikon PX 550V</h4>

								<!-- list -->
								<ul class="list list-inline text-muted text-sm mb-3">
									<li class="list-inline-item ml-0 mr-4">
										50 mm
									</li>
									<li class="list-inline-item ml-0 mr-4">
										f / 1.4
									</li>
									<li class="list-inline-item ml-0 mr-4">
										ISO 400
									</li>
								</ul>

								<div class="card-img-overlay-desc">

									<!-- text -->
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem architecto assumenda perspiciatis sequi deleniti possimus aspernatur vero accusamus maiores laboriosam iusto, dignissimos ex numquam.</p>

									<!-- button -->
									<button class="btn btn-default" type="button">Buy now on Amazon</button>

								</div> <!-- .card-img-overlay-desc -->

							</div>

						</div> <!-- .card-product -->

						<div class="card card-product">

							<!-- background image -->
							<img class="card-img" src="~/wwwroot/flexpack/img/product_3.jpg" alt="Card image">

							<!-- overlay content -->
							<div class="card-img-overlay">

								<!-- title -->
								<h4 class="card-title">Nikon EX 83 Series</h4>

								<!-- list -->
								<ul class="list list-inline text-muted text-sm mb-3">
									<li class="list-inline-item ml-0 mr-4">
										50 mm
									</li>
									<li class="list-inline-item ml-0 mr-4">
										f / 1.4
									</li>
									<li class="list-inline-item ml-0 mr-4">
										ISO 400
									</li>
								</ul>

								<div class="card-img-overlay-desc">

									<!-- text -->
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem architecto assumenda perspiciatis sequi deleniti possimus aspernatur vero accusamus maiores laboriosam iusto, dignissimos ex numquam.</p>

									<!-- button -->
									<button class="btn btn-default" type="button">Buy now on Amazon</button>

								</div> <!-- .card-img-overlay-desc -->

							</div>

						</div> <!-- .card-product -->

						<div class="card card-product">

							<!-- background image -->
							<img class="card-img" src="~/wwwroot/flexpack/img/product_4.jpg" alt="Card image">

							<!-- overlay content -->
							<div class="card-img-overlay">

								<!-- title -->
								<h4 class="card-title">Carl Zeiss Lens 8s</h4>

								<!-- list -->
								<ul class="list list-inline text-muted text-sm mb-3">
									<li class="list-inline-item ml-0 mr-4">
										50 mm
									</li>
									<li class="list-inline-item ml-0 mr-4">
										f / 1.4
									</li>
									<li class="list-inline-item ml-0 mr-4">
										ISO 400
									</li>
								</ul>

								<div class="card-img-overlay-desc">

									<!-- text -->
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem architecto assumenda perspiciatis sequi deleniti possimus aspernatur vero accusamus maiores laboriosam iusto, dignissimos ex numquam.</p>

									<!-- button -->
									<button class="btn btn-default" type="button">Buy now on Amazon</button>

								</div> <!-- .card-img-overlay-desc -->

							</div>

						</div> <!-- .card-product -->

						<div class="card card-product">

							<!-- background image -->
							<img class="card-img" src="~/wwwroot/flexpack/img/product_6.jpg" alt="Card image">

							<!-- overlay content -->
							<div class="card-img-overlay">

								<!-- title -->
								<h4 class="card-title">Canon Rebel T3.4</h4>

								<!-- list -->
								<ul class="list list-inline text-muted text-sm mb-3">
									<li class="list-inline-item ml-0 mr-4">
										50 mm
									</li>
									<li class="list-inline-item ml-0 mr-4">
										f / 1.4
									</li>
									<li class="list-inline-item ml-0 mr-4">
										ISO 400
									</li>
								</ul>

								<div class="card-img-overlay-desc">

									<!-- text -->
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem architecto assumenda perspiciatis sequi deleniti possimus aspernatur vero accusamus maiores laboriosam iusto, dignissimos ex numquam.</p>

									<!-- button -->
									<button class="btn btn-default" type="button">Buy now on Amazon</button>

								</div> <!-- .card-img-overlay-desc -->

							</div>

						</div> <!-- .card-product -->

						<div class="card card-product">

							<!-- background image -->
							<img class="card-img" src="~/wwwroot/flexpack/img/product_7.jpg" alt="Card image">

							<!-- overlay content -->
							<div class="card-img-overlay">

								<!-- title -->
								<h4 class="card-title">Canon Retro 5 Series</h4>

								<!-- list -->
								<ul class="list list-inline text-muted text-sm mb-3">
									<li class="list-inline-item ml-0 mr-4">
										50 mm
									</li>
									<li class="list-inline-item ml-0 mr-4">
										f / 1.4
									</li>
									<li class="list-inline-item ml-0 mr-4">
										ISO 400
									</li>
								</ul>

								<div class="card-img-overlay-desc">

									<!-- text -->
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem architecto assumenda perspiciatis sequi deleniti possimus aspernatur vero accusamus maiores laboriosam iusto, dignissimos ex numquam.</p>

									<!-- button -->
									<button class="btn btn-default" type="button">Buy now on Amazon</button>

								</div> <!-- .card-img-overlay-desc -->

							</div>

						</div> <!-- .card-product -->

						<div class="card card-product">

							<!-- background image -->
							<img class="card-img" src="~/wwwroot/flexpack/img/product_8.jpg" alt="Card image">

							<!-- overlay content -->
							<div class="card-img-overlay">

								<!-- title -->
								<h4 class="card-title">Palaroid Pronto600</h4>

								<!-- list -->
								<ul class="list list-inline text-muted text-sm mb-3">
									<li class="list-inline-item ml-0 mr-4">
										50 mm
									</li>
									<li class="list-inline-item ml-0 mr-4">
										f / 1.4
									</li>
									<li class="list-inline-item ml-0 mr-4">
										ISO 400
									</li>
								</ul>

								<div class="card-img-overlay-desc">

									<!-- text -->
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem architecto assumenda perspiciatis sequi deleniti possimus aspernatur vero accusamus maiores laboriosam iusto, dignissimos ex numquam.</p>

									<!-- button -->
									<button class="btn btn-default" type="button">Buy now on Amazon</button>

								</div> <!-- .card-img-overlay-desc -->

							</div>

						</div> <!-- .card-product -->

					</div> <!-- .product-slider -->

				</div>
			</div>

		</div> <!-- .container-fluid -->

	</section>

	<!-- COUNTDOWN
	================================================== -->
	<section class="section section_countdown" id="section-features">

		<!-- background image -->
		<div class="bg-cover">
			<img src="~/wwwroot/flexpack/img/countdown_bg.jpg" alt="...">
		</div>

		<!-- background overlay -->
		<div class="bg-overlay"></div>

		<div class="container">
			<div class="row justify-content-between align-items-center text-light">

				<div class="col-sm-12 col-lg-5 col-xl-5">

					<!-- subtitle -->
					<p class="subtitle"># Key flexpack features</p>

					<!-- title -->
					<h2 class="text-light my-3">Combination of sophisticated design & high technologies</h2>

					<!-- button -->
					<a href="#" class="link-underline text-light">All characteristics</a>

				</div>

				<div class="col-sm-12 col-lg-6 col-xl-5">

					<div class="countdown-item">

						<div class="countdown-item-left text-center">

							<!-- number -->
							<h2 class="countdown-item-number" data-from="0" data-to="20" data-speed="500" data-refresh-interval="1">
								20
							</h2>

							<!-- subtitle -->
							<p class="countdown-item-subtitle text-light">
								Opt.Zoom
							</p>

						</div>

						<div class="countdown-item-right">

							<!-- text -->
							<p class="countdown-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum asperiores dolore repellat, totam doloribus sed veniam saepe.</p>

						</div>

					</div> <!-- .countdown-item -->

					<div class="countdown-item">

						<div class="countdown-item-left text-center">

							<!-- number -->
							<h2 class="countdown-item-number" data-from="0" data-to="24" data-speed="500" data-refresh-interval="1">
								24
							</h2>

							<!-- subtitle -->
							<p class="countdown-item-subtitle text-light">
								Obj.Lens
							</p>

						</div>

						<div class="countdown-item-right">

							<!-- text -->
							<p class="countdown-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum asperiores dolore repellat, totam doloribus sed veniam saepe quis numquam.</p>

						</div>

					</div> <!-- .countdown-item -->

					<div class="countdown-item">

						<div class="countdown-item-left text-center">

							<!-- number -->
							<h2 class="countdown-item-number" data-from="0" data-to="35" data-speed="500" data-refresh-interval="1">
								35
							</h2>

							<!-- subtitle -->
							<p class="countdown-item-subtitle text-light">
								Sh.Speed
							</p>

						</div>

						<div class="countdown-item-right">

							<!-- text -->
							<p class="countdown-item-text">Dolores reiciendis numquam recusandae et laudantium excepturi sequi earum voluptas mollitia repudiandae, maiores cum maxime magni.</p>

						</div>

					</div> <!-- .countdown-item -->

				</div>

			</div> <!-- .row -->
		</div> <!-- .container -->

	</section> <!-- .section-countdown -->
	<!-- FEATURE
	================================================== -->
	<section class="section section_features">

		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-12 col-lg-4 col-xl-3">

					<ul class="list list-features">
						<li class="list-features-item">

							<!-- title -->
							<h6 class="list-features-item-title">
								<i class="far fa-check-circle"></i> Image stabilization
							</h6>

							<!-- text -->
							<p class="list-features-item-text">
								Ab recusandae praesentium dolor. Voluptatem ipsa quod fugiat.
							</p>
						</li>
						<li class="list-features-item">

							<!-- title -->
							<h6 class="list-features-item-title">
								<i class="far fa-check-circle"></i> Powerful battery
							</h6>

							<!-- text -->
							<p class="list-features-item-text">
								Necessitatibus soluta perspiciatis hic porro ut nobis optio harum doloribus.
							</p>
						</li>
						<li class="list-features-item">

							<!-- title -->
							<h6 class="list-features-item-title">
								<i class="far fa-check-circle"></i> Wireless charging
							</h6>

							<!-- text -->
							<p class="list-features-item-text">
								Nesciunt incidunt dolores omnis rerum odit sequi mollitia debitis repellat.
							</p>
						</li>
						<li class="list-features-item">

							<!-- title -->
							<h6 class="list-features-item-title">
								<i class="far fa-check-circle"></i> Modern design
							</h6>

							<!-- text -->
							<p class="list-features-item-text">
								Vel autem labore consequuntur omnis voluptatibus pariatur deserunt.
							</p>
						</li>
					</ul> <!-- .list-features -->

				</div>
				<div class="col-12 col-lg-4 col-xl-5 order-2 order-md-1">

					<!-- feature slider -->
					<div class="feature-slider">

						<div class="feature-slider-item">

							<!-- image -->
							<img src="~/wwwroot/flexpack/img/feature_img_1.png" class="img-fluid" alt="...">

						</div> <!-- .feature-slider-item -->

						<div class="feature-slider-item">

							<!-- image -->
							<img src="~/wwwroot/flexpack/img/feature_img_2.png" class="img-fluid" alt="...">

						</div> <!-- .feature-slider-item -->

						<div class="feature-slider-item">

							<!-- image -->
							<img src="~/wwwroot/flexpack/img/feature_img_3.png" class="img-fluid" alt="...">

						</div> <!-- .feature-slider-item -->

					</div> <!-- .feature-slider -->

				</div>
				<div class="col-12 col-lg-4 col-xl-3 order-1 order-md-2">

					<ul class="list list-features">
						<li class="list-features-item">

							<!-- title -->
							<h6 class="list-features-item-title">
								<i class="far fa-check-circle"></i> Wi-Fi data transfer
							</h6>

							<!-- text -->
							<p class="list-features-item-text">
								Ab recusandae praesentium dolor. Voluptatem ipsa quod fugiat.
							</p>
						</li>
						<li class="list-features-item">

							<!-- title -->
							<h6 class="list-features-item-title">
								<i class="far fa-check-circle"></i> Waterproof case
							</h6>

							<!-- text -->
							<p class="list-features-item-text">
								Necessitatibus soluta perspiciatis hic porro ut nobis optio harum dolori.
							</p>
						</li>
						<li class="list-features-item">

							<!-- title -->
							<h6 class="list-features-item-title">
								<i class="far fa-check-circle"></i> 5 year warranty
							</h6>

							<!-- text -->
							<p class="list-features-item-text">
								Nesciunt incidunt dolores omnis rerum odit sequi mollitia debitis repell.
							</p>
						</li>
						<li class="list-features-item">

							<!-- title -->
							<h6 class="list-features-item-title">
								<i class="far fa-check-circle"></i> Powerful CPU
							</h6>

							<!-- text -->
							<p class="list-features-item-text">
								Vel autem labore consequuntur omnis volupt atibus pariatur deser.
							</p>
						</li>
					</ul> <!-- .list-features -->

				</div>
			</div>
		</div>

	</section>

	<!-- TESTIMONIALS
	================================================== -->
	<section class="section section_testimonials" id="section-testimonials">

		<!-- background image -->
		<div class="bg-cover">
			<img src="~/wwwroot/flexpack/img/testimonials_bg_2.jpg" alt="...">
		</div>

		<!-- background overlay -->
		<div class="bg-overlay"></div>

		<div class="container">
			<div class="row justify-content-center text-center text-light">
				<div class="col-sm-12 col-lg-6 col-xl-6">

					<!-- title -->
					<h2 class="text-light">Testimonials</h2>

					<!-- subtitle -->
					<p class="subtitle"># What people say</p>

					<p class="mb-5">Rerum fuga reprehenderit repellat quasi Flexvident incidunt quam pariatur voluptates laudantium magni, doloribus quae officia quaerat possimus perferendis ametmody maxime.</p>
				</div>
			</div>
			<div class="row">
				<div class="col">

					<!-- Slider -->
					<div class="testimonial-slider">

						<!-- Item -->
						<div class="testimonial-slider-item card card-testimonial">

							<!-- Quote -->
							<blockquote class="card-testimonial-quote">

								<!-- subtitle -->
								<p class="subtitle"># Best app for startup business</p>

								<!-- quote text -->
								<p class="card-testimonial-quote-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, illo nihil aut sunt recusandae qui suscipit error rerum libero et maxime, enim ipsum asperiores possimus, dolorum deserunt perspiciatis? Blanditiis vel adipisci tempore quidem, nesciunt, obcaecati quo voluptatum sapiente! Quam est sapiente blanditiis distinctio, libero ex tempora sed, reprehenderit adipisci. Fugiat accusamus quod delectus aspernatur expedita quidem quam ipsaea.
								</p>

								<!-- Author -->
								<div class="media mb-3">

									<div class="d-flex mr-3">

										<!-- image -->
										<img class="img-fluid avatar rounded-circle" src="~/wwwroot/flexpack/img/quote_img.jpg" alt="...">

									</div>

									<div class="media-body">

										<!-- title -->
										<h4 class="d-inline-block mb-1">
											<a class="d-block h6 mb-0" href="#">Jessica Doe</a>
										</h4>

										<small class="d-block text-sm text-muted">Los Angeles Review</small>

									</div> <!-- .media-body -->

								</div>

							</blockquote>

						</div> <!-- .testimonial-slider-item -->
						<!-- Item -->
						<div class="testimonial-slider-item card card-testimonial">

							<!-- Quote -->
							<blockquote class="card-testimonial-quote">

								<!-- subtitle -->
								<p class="subtitle"># Great team and handy app</p>

								<!-- quote text -->
								<p class="card-testimonial-quote-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, illo nihil aut sunt recusandae qui suscipit error rerum libero et maxime, enim ipsum asperiores possimus, dolorum deserunt perspiciatis? Blanditiis vel adipisci tempore quidem, nesciunt, obcaecati quo voluptatum sapiente! Quam est sapiente blanditiis distinctio, libero ex tempora sed, reprehenderit adipisci. Fugiat accusamus quod delectus aspernatur expedita quidem quam ipsaea.
								</p>

								<!-- Author -->
								<div class="media mb-3">

									<div class="d-flex mr-3">

										<!-- image -->
										<img class="img-fluid avatar rounded-circle" src="~/wwwroot/flexpack/img/testimonials_img1.jpg" alt="...">

									</div>

									<div class="media-body">

										<!-- title -->
										<h4 class="d-inline-block mb-1">
											<a class="d-block h6 mb-0" href="#">John Doe</a>
										</h4>

										<small class="d-block text-sm text-muted">Win Cloud Inc</small>

									</div> <!-- .media-body -->

								</div>

							</blockquote>

						</div> <!-- .testimonial-slider-item -->
						<!-- Item -->
						<div class="testimonial-slider-item card card-testimonial">

							<!-- Quote -->
							<blockquote class="card-testimonial-quote">

								<!-- subtitle -->
								<p class="subtitle"># FlexPack is my choise</p>

								<!-- quote text -->
								<p class="card-testimonial-quote-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, illo nihil aut sunt recusandae qui suscipit error rerum libero et maxime, enim ipsum asperiores possimus, dolorum deserunt perspiciatis? Blanditiis vel adipisci tempore quidem, nesciunt, obcaecati quo voluptatum sapiente! Quam est sapiente blanditiis distinctio, libero ex tempora sed, reprehenderit adipisci. Fugiat accusamus quod delectus aspernatur expedita quidem quam ipsaea.
								</p>

								<!-- Author -->
								<div class="media mb-3">

									<div class="d-flex mr-3">

										<!-- image -->
										<img class="img-fluid avatar rounded-circle" src="~/wwwroot/flexpack/img/testimonials_img2.jpg" alt="...">

									</div>

									<div class="media-body">

										<!-- title -->
										<h4 class="d-inline-block mb-1">
											<a class="d-block h6 mb-0" href="#">Rachel Wings</a>
										</h4>

										<small class="d-block text-sm text-muted">Pepper Community</small>

									</div> <!-- .media-body -->

								</div>

							</blockquote>

						</div> <!-- .testimonial-slider-item -->

					</div> <!-- / .testimonials-slider -->

				</div>
			</div> <!-- .row -->
		</div> <!-- .container -->

	</section> <!-- .section-testimonials -->
	<!-- CONTACT
	================================================== -->
	<section class="section_contact" id="section-contact">
		<div class="container-fluid px-0">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 px-3 py-5 p-sm-6 bg-light text-center">

					<div class="half-item d-flex flex-column justify-content-center h-100">

						<!-- heading -->
						<h2>Hurry up to get 20% discount* <br>in <span class="font-weight-bold">FlexPack Store</span></h2>

						<!-- text -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo maxime voluptatem aliquid earum beatae. Quia, quo asperiores, tempora, autem quasi consequuntur adipisci nemo molestias deleniti accusamus ex unde impedit sunt dolores nesciunt culpa? Sapiente harum, dicta quisquam, dolorum dolorem quibusdam.</p>

						<!-- button -->
						<div class="button">
							<button class="btn btn-primary" type="button">Purchase now</button>
						</div>


						<p class="pt-5 mb-0">* Offer valid starting 10 July, 2018 through 24 December, 2018</p>

					</div> <!-- .half-item -->

				</div>
				<div class="col-12 col-md-6 px-3 py-5 p-sm-6">

					<div class="half-item d-flex flex-column justify-content-center h-100">

						<!-- title -->
						<h2>Get in touch</h2>

						<!-- text -->
						<p>Don't hesistate to contact us if you have any questions about our products. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem facilis possimus quo cum delectus.</p>

						<!-- Contact form -->
						<form class="contact_form" id="contact_form">

							<div class="form-group">
								<label for="contact__form__name" class="sr-only">Full name</label>
								<input type="text" class="form-control" id="contact__form__name" name="contact__form__name" placeholder="Full name">
								<div class="invalid-feedback"></div>
							</div>

							<div class="form-group">
								<label for="contact__form__email" class="sr-only">E-mail address</label>
								<input type="email" class="form-control" id="contact__form__email" name="contact__form__email" placeholder="E-mail address">
								<div class="invalid-feedback"></div>
							</div>

							<div class="form-group">
								<label for="contact__form__message" class="sr-only">Message</label>
								<textarea class="form-control" id="contact__form__message" name="contact__form__message" rows="3" placeholder="Message"></textarea>
								<div class="invalid-feedback"></div>
							</div>

							<button type="submit" class="btn btn-primary">
								Send message
							</button>

						</form>

					</div> <!-- .half-item -->

				</div>
			</div> <!-- .row -->
		</div> <!-- .container-fluid -->
	</section> <!-- .section-contact -->
	<!-- FOOTER
	================================================== -->
	<!-- Footer
	================================================== -->

	<footer class="footer bg-dark">
		<div class="container">
			<div class="row py-5">
				<div class="col-12 col-sm-6 col-md-3 mb-5 mb-sm-0">

					<!-- heading -->
					<h5 class="footer-title text-light mt-5">About</h5>

					<!-- text -->
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed consequuntur architecto vel, molestiae adipisci modi incidunt voluptatibus iureic delectus.
					</p>

				</div>
				<div class="col-12 col-sm-6 col-md-3 mb-5 mb-sm-0">

					<!-- heading -->
					<h5 class="footer-title text-light mt-0 mt-sm-5">Contact</h5>

					<!-- list -->
					<ul class="list list-footer">
						<li class="list-item">
							<a href="#" class="link-underline">737 Fifth Avenue, New York, USA</a>
						</li>
						<li class="list-item">
							<a href="tel:4551251245" class="link-underline">+(455) 125 12 45</a>
						</li>
						<li class="list-item">
							<a href="mailto:admin@propack.com" class="link-underline">admin@propack.com</a>
						</li>
						<li class="list-item">
							<a href="#" class="link-underline">flexpack.app</a>
						</li>
					</ul>

				</div>
				<div class="col-12 col-sm-6 col-md-3 mb-5 mb-sm-0">

					<!-- heading -->
					<h5 class="footer-title text-light mt-0 mt-sm-5">Links</h5>

					<!-- list -->
					<ul class="list list-footer">
						<li class="list-item">
							<a href="#" class="link-underline">About</a>
						</li>
						<li class="list-item">
							<a href="#" class="link-underline">Help & Support</a>
						</li>
						<li class="list-item">
							<a href="#" class="link-underline">Partners</a>
						</li>
						<li class="list-item">
							<a href="#" class="link-underline">Privacy Policy</a>
						</li>
					</ul>

				</div>
				<div class="col-12 col-sm-6 col-md-3">

					<!-- heading -->
					<h5 class="footer-title text-light mt-0 mt-sm-5">Subscribe</h5>

					<!-- text -->
					<p>Subscribe to our email newsletter to receive updates and news.</p>

					<!-- Newsletter Form -->
					<div id="mc_embed_signup">
						<form class="newsletter_form validate" action="//themeforest.us16.list-manage.com/subscribe/post-json?u=3c9679e26b601e1a87122b12f&id=e4b9351526&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
							<div id="mc_embed_signup_scroll">
								<div class="mc-field-group form-group">
									<label for="mce-EMAIL" class="sr-only">E-mail address</label>
									<input type="email" value="" name="EMAIL" class="required email form-control newsletter_input" id="mce-EMAIL" placeholder="Email address">
								</div>
								<div id="mce-responses" class="clear">
									<div class="response"></div>
									<div class="response" id="mce-success-response"></div>
								</div>

								<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div aria-hidden="true" id="mce-hidden-input">
									<input type="text" name="b_507744bbfd1cc2879036c7780_4523d25e1b" tabindex="-1" value="">
								</div>
								<div class="clear">
									<button type="submit" class="btn btn-outline text-light" id="mc-embedded-subscribe">
										<i class="far fa-paper-plane"></i>
									</button>
								</div>
							</div>
						</form>
					</div> <!-- #mc_embed_signup -->

				</div>
			</div> <!-- .row -->

			<div class="row footer-copyright py-4">
				<div class="col-xs-12 col-sm-6">

					<!-- copyright text -->
					<p class="mb-3 mb-sm-0">© 2018 FlexPack. All rights reserved.</p>

				</div>
				<div class="col-xs-12 col-sm-6">

					<!-- Social icons -->
					<ul class="list list-inline text-sm-right">
						<li class="list-inline-item">

							<!-- link -->
							<a href="#">
								<i class="fab fa-twitter"></i>
							</a>

						</li>
						<li class="list-inline-item">

							<!-- link -->
							<a href="#">
								<i class="fab fa-facebook-square"></i>
							</a>

						</li>
						<li class="list-inline-item">

							<!-- link -->
							<a href="#">
								<i class="fab fa-instagram"></i>
							</a>

						</li>
					</ul>

				</div>
			</div> <!-- .row -->
		</div> <!-- .container -->
	</footer>

	<!-- JAVASCRIPT
	================================================== -->
	<!-- Global JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfwXIv2vgXzFDZRzzRH2VpbvgSzhqCCuU"></script>

	<!-- Plugins JS -->
	<script src="~/wwwroot/flexpack/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="~/wwwroot/flexpack/plugins/flickity/flickity.pkgd.min.js"></script>
	<script src="~/wwwroot/flexpack/plugins/feather/feather.min.js"></script>
	<script src="~/wwwroot/flexpack/plugins/contact/contact.js"></script>
	<script src="~/wwwroot/flexpack/plugins/countTo/jquery.countTo.js"></script>
	<script src="~/wwwroot/flexpack/plugins/countdown/jquery.countdown.min.js"></script>
	<script src="~/wwwroot/flexpack/plugins/parallax/parallax.min.js"></script>
	<script src="~/wwwroot/flexpack/plugins/fullpagejs/vendors/scrolloverflow.min.js"></script>
	<script src="~/wwwroot/flexpack/plugins/fullpagejs/dist/fullpage.min.js"></script>

	<!-- Theme JS -->
	<script src="~/wwwroot/flexpack/js/theme.min.js"></script>

</body>
</html>