tbody > tr > td {
    padding:0 3px !important;
}
.label-require:before {
    content: "* ";
    color: red;
}
.col-status {
    width:50px;
    text-align:center;
}
.col-publish-status {
    width: 125px;
}
.col-action {
    width:100px;
    text-align:center
}
.col-date {
    width:150px;
    text-align:right
}
.col-userinfor {
    width:150px;
    text-align:left;
}
.col-seq {
    width:60px;
    text-align:right;
}